@font-face {
    font-family: Gilroy;
    src: url("/font/Gilroy-Light.otf") format("opentype");
}

@font-face {
    font-family: Gilroy;
    font-weight: bold;
    src: url("/font/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: Catavalo;
    src: url("/font/Catavalo-Regular.otf") format("opentype");
}

@font-face {
    font-family: Catavalo;
    font-weight: bold;
    src: url("/font/Catavalo-Medium.otf") format("opentype");
}


*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gilroy';
    cursor: none;
}

::selection {
    background: rgba(238, 238, 238, 0.427);
}

/* texte */
.gilroy {
    font-family: 'Gilroy';
}

.gilroy-b {
    font-family: 'Gilroy';
    font-weight: bold;
}

.catavalo {
    font-family: 'Catavalo';
}

.catavalo-b {
    font-family: 'Catavalo';
    font-weight: bold;
}

/* navigation */

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1em;
}

.navbar ul li a:hover,
.navbar ul li a:focus {
    color: #466C88;
    text-decoration-line: line-through;
}

/* header */
.head {
    display: flex;
    align-items: center;
    height: 100vh;
    margin-left: 2%;
}

.head .head-heading {
    font-family: 'Catavalo';
    font-weight: bold;
    font-size: 4rem;
    line-height: 4rem;
}

.head .head-subheading {
    font-size: 1.5rem;
    max-width: 70%;
}

/* texte color */
.blue {
    color: #466C88;
}

.page-section {
    height: 100vh;
}

.outils-section,
.esp {
    margin-top: 10%;
}

.scroll-down-btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

.scroll-up-btn {
    z-index: 1000;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    transform: rotate(180);
}

.scroll-down-btn:hover {
    color: black;
}

.scroll-up-btn:hover {
    color: black;
}

.social {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 1rem;
    margin-left: 2rem;
    gap: 1rem;
    z-index: 10000;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-projets-btn {
    text-decoration: none;
}

.carousel-indicators {
    top: 100%;
}

.hover-color {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}


.hover-color:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    z-index: 1;
    opacity: 1;
}

.card-container,
.row {
    gap: 2rem;
}

.col-md {
    padding-left: 0 !important;
    padding-right: 0 !important;
    height: 22.5rem;
}

.hover-txt {
    height: 100%;
    width: 100%;
    opacity: 0;
}

.hover-txt:hover {
    z-index: 1;
    opacity: 1;
}

.hover-color h1 {
    color: white;
    width: 20rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.501);
}

.hover-color a {
    text-decoration: none;
}

.hover-underline {
    display: inline-block;
    position: relative;

}

.hover-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;

}

/*=================================
contact
=================================*/
.formu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.styleform {
    flex-direction: row;
}

.styleformcol {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form div {
    padding: 10px;
    justify-content: center;
}

form {
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.formbtn {
    align-items: center;
    color: #9ebc9f;
}

input[type="submit"] {
    background-color: #2062CD;
    border: none;
    color: white;
    font-family: "Gilroy";
    font-weight: 275;
    font-size: 1.1rem;
}

input[type="submit"]:hover {
    background-color: #418aff;
}

input {
    background-color: #f0f0f0;
    width: 315px;
    height: 35px;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 0;
}

textarea {
    resize: none;
    background-color: #f0f0f0;
    border: 0;
    height: 200px;
    width: 90%;
}

.social-hover:hover {
    transform: scale(1.2);
}

/* footer */
hr {
    width: 60px;
    background-color: black;
    height: 2px
}

/* responsive */

@media screen and (max-width: 992px) {
    .social {
        display: none;
    }

    .head .head-heading {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .head .head-subheading {
        font-size: 1rem;
        max-width: 70%;
    }

    .styleform {
        flex-direction: column;
    }

    .styleformcol {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}