@font-face {
    font-family: Gilroy;
    src: url("/font/Gilroy-Light.otf") format("opentype");
}

@font-face {
    font-family: Gilroy;
    font-weight: bold;
    src: url("/font/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: Catavalo;
    src: url("/font/Catavalo-Regular.otf") format("opentype");
}

@font-face {
    font-family: Catavalo;
    font-weight: bold;
    src: url("/font/Catavalo-Medium.otf") format("opentype");
}


*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gilroy';
    cursor: none;
}

::selection {
    background: rgba(238, 238, 238, 0.427);
}

/* texte */
.gilroy {
    font-family: 'Gilroy';
}

.gilroy-b {
    font-family: 'Gilroy';
    font-weight: bold;
}

.catavalo {
    font-family: 'Catavalo';
}

.catavalo-b {
    font-family: 'Catavalo';
    font-weight: bold;
}

/* navigation */

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1em;
}

.navbar ul li a:hover,
.navbar ul li a:focus {
    color: #466C88;
    text-decoration-line: line-through;
}

/* header */
.head {
    display: flex;
    align-items: center;
    height: 100vh;
    margin-left: 2%;
}

.head .head-heading {
    font-family: 'Catavalo';
    font-weight: bold;
    font-size: 4rem;
    line-height: 4rem;
}

.head .head-subheading {
    font-size: 1.5rem;
    max-width: 70%;
}

/* texte color */
.blue {
    color: #466C88;
}

.page-section {
    height: 100vh;
}

.outils-section,
.esp {
    margin-top: 10%;
}

.scroll-down-btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

.scroll-up-btn {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    transform: rotate(180);
}

.scroll-down-btn:hover {
    color: black;
}

.scroll-up-btn:hover {
    color: black;
}

.social {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 1rem;
    margin-left: 2rem;
    gap: 1rem;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-projets-btn {
    text-decoration: none;
}

.carousel-indicators {
    top: 100%;
}

.hover-color {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}


.hover-color:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    z-index: 1;
    opacity: 1;
}

.card-flex {
    height: 25rem;
    gap: 1rem;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    width: 100%;
}

.hover-txt {
    height: 100%;
    width: 100%;
    opacity: 0;
}

.hover-txt:hover {
    z-index: 1;
    opacity: 1;
}

.hover-color h1 {
    color: white;
}

.hover-color a {
    text-decoration: none;
}

/* responsive */

@media screen and (max-width: 992px) {
    .social {
        display: none;
    }

    .head .head-heading {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .head .head-subheading {
        font-size: 1rem;
        max-width: 70%;
    }

    .card-flex {
        flex-direction: column;
        width: 100%;
        height: 80rem;
    }
}